@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;400;600;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html  {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(20,25,34);
    --grey: rgb(40,40,40);
    --blacklight: rgb(8,11,18);
    --green: rgb(173,255,47);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.logo-mobile {
   display: none;
}

/****************
      MAIN
*****************/

/* Strart sidebar */

.logo {
    width: 130px;
}

.icon-menu {
    width: 30px;
}

.menu {
 padding: 15px 0;
}

.list-menu {
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 5px 0;
}

.playlist {
    padding-top: 15px;
}

.playlist h3 {
    padding-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.name-playlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-playlist i {
    font-size: 35px;
}

.color-menu,
.name-playlist {
    color: grey;
}

.name-playlist a:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.download {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid var(--grey);
    color: var(--grey);
}

.person {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    font-size: 18px;
    align-items: center;
    font-weight: 700;
    margin-bottom: -20px;
}

.icon-person {
    width: 35px;
    background-color: grey;
    border-radius: 20px;
    aspect-ratio: 1;
}

/* HOVER SIDERBAR */

.list-menu a:hover,
.name-playlist a:hover,
.download a:hover {
    color: white;
}

/* OVER SIDEBAR */
@media screen and (max-width:550px) {
    .playlist {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .menu p {
        display: none;
    }

    .profile p {
        display: none;
    }

}


/* end sidebar */


/* Strart Row Played */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content{
    flex-grow: 1;
    background-color: var(--blue);
    display: flex;
    overflow: hidden;
}

.row-played {
    flex-shrink: 0;
    padding: 10px;
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    color: white;
    overflow: hidden;
}

.sidebar {
    background-color: black;
    flex-shrink: 0;
    overflow: hidden;
    flex-basis: 230px;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    font-weight: 600;
}



.col-namesong {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    flex-basis: 230px;
}

.img-song {
    width: 50px;
}

.name-song {
    font-size: 13px;
}

.name-song strong {
    font-size: 15px;
}

.name-song p {
    color: grey;
}

.icon-sinistersong {
    padding-left: 35px;
    color: grey;
    text-align: center;
}

.col-changesong {
    flex-basis: 35%;
}

.slash-minutesong {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-play {
    font-size: 35px;
}

.icon-managesong {
    display: flex;
    gap: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.slash-song {
    background-color: grey;
    flex-grow: 1;
    border-radius: 999px;
}

.slash-white {
    background-color: white;
    height: 4px;
    width: 23%;
    border-radius: 999px;
}

.col-volumesong {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-basis: 230px;
}

.slash-volume {
    border-bottom: 3px solid white;
    padding: 0px 50px;
}

/* HOVER ROW PLAYER */

.icon-sinistersong a:hover {
    color: white;
}

.icon-hover-play:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

/* HOVER ROW PLAYER */

@media screen and (max-width:730px) {
    .row-played {
        gap: 10px;
    }
}

@media screen and (max-width:550px) {
    .icon-managesong {
        gap: 20px;
    }

    .sidebar {
        flex-basis: 50px;
        padding: 5px;
        align-items: center;
    }

    .icon-sinistersong {
        padding-left: 0;
    }

    .col-volumesong {
        gap: 15px;
    }

    .download {
        justify-content: center;
    }

    .icon-menu {
        width: 32px;
    }

    .person {
        margin-bottom: 0;
    }
}

/* end Row Played */

/* Strart main-content */

.main-content {
    flex-grow: 1;
    overflow-y: auto;
    width: calc(100% - 230px);
}

.row-upgrade {
    display: flex;
    justify-content: end;
    background-color: var(--blacklight);
    padding: 20px;
}

.row-upgrade a {
    border: 1px solid white;
    color: white;
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.list-nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    color: grey;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.title-recently {
    color: white;
    padding-left: 20px;
    padding-top: 45px;
}

.container-song { 
    flex-basis: calc(100% / 6 - 13px);
}

.content-song {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 25px;
    text-align: center;
    gap: 15px;
    padding-right: 30px;
}

.album {
    display: flex;
}

.album img {
    flex-grow: 1;
}

.container-song h4 {
    color: white;
    padding-top: 20px;
}

.container-song p {
    color: grey;
    padding-top: 10px;
}

.title-johndoe,
.title-artpopular {
    padding-left: 20px;
    padding-top: 40px;
    font-weight
}

.title-johndoe h2 {
    color: white;
    padding-bottom: 10px;
}

.title-artpopular h2 {
    color: white;
    padding-bottom: 10px;
}

.title-johndoe p {
    color: grey;
}

.title-artpopular p {
    color: grey;
}

.container-artpopular {
    padding-bottom: 10px;
}

.container-johndoe,
.container-artpopular {
    display: flex;
    gap: 15px;
    text-align: center;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
}

.container-johndoe,
.container-artpopular h3 {
    padding-top: 20px;
}

.container-johndoe figure {
    flex-basis: calc(100% / 6 - 13px);
}

.container-artpopular figure {
    flex-basis: calc(100% / 6 - 13px);
}

.container-artpopular img {
    border-radius: 100%;
}

.border-green {
    background-color: var(--green);
    height: 4px;
    width: 30%;
    border-radius: 999px;
    margin: auto;
}

/* HOVER MAIN CONTENT */

.row-upgrade a:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.list-nav a:hover {
    color: white;
}

.container-song,
.container-artpopular figure,
.container-johndoe figure{
    position: relative;
}

.container-song i,
.container-artpopular i,
.container-johndoe i {
    color: white;
    opacity: 0;
    position: absolute;
    left: 50px;
    top: 50px;
}

.container-song i:hover,
.container-johndoe i:hover,
.container-artpopular i:hover {
    display: block;
    opacity: 0.9;
}

.container-song:hover,
.container-johndoe figure:hover,
.container-artpopular figure:hover {
    opacity: 0.5;
}

/* HOVER MAIN CONTENT */

/* MEDIA QUERY MAIN CONTENT */

@media screen and (max-width:1100px) {
    .container-song {
        flex-basis: calc(100% / 5 - 12px);
    }
}

@media screen and (max-width:878px ) {
    .content-song {
        padding-right: 15px;
    }

    .container-song {
        flex-basis: calc(100% / 4 - 12px);
    }

    .container-johndoe figure {
        flex-basis: calc(100% / 4 - 12px)
    }

    .container-artpopular figure {
        flex-basis: calc(100% / 4 - 12px);
    }
}

@media screen and (max-width:650px ) {
    .content-song,
    .container-artpopular,
    .container-johndoe {
        padding-right: 15px;
    }
   
    .container-song {
        flex-basis: calc(100% / 2 - 8px);
    }

    .container-johndoe figure {
        flex-basis: calc(100% / 2 - 8px)
    }

    .container-artpopular figure {
        flex-basis: calc(100% / 2 - 8px);
    }
}

/* MEDIA QUERY MAIN CONTENT */




/* end main-content */