*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(20,25,34);
    --grey: rgb(40,40,40);
    --blacklight: rgb(8,11,18);
    --green: rgb(173,255,47);
}

img {
    max-width: 100%;
}


/****************
      MAIN
*****************/

/* Strart Row Played */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content{
    flex-grow: 1;
    background-color: var(--blue);
    display: flex;
    overflow: hidden;
}

.row-played {
    flex-shrink: 0;
    padding: 10px;
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    color: white;
    overflow: hidden;
}

.sidebar {
    background-color: black;
    flex-shrink: 0;
    overflow: hidden;
    flex-basis: 230px;
}

.col-music {
    flex-grow: 1;
    overflow: auto;
    width: calc(100% - 230px);
}

.col-namesong {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.img-song {
    width: 50px;
}

.name-song {
    font-size: 13px;
}

.name-song strong {
    font-size: 15px;
}

.name-song p {
    color: grey;
}

.icon-sinistersong {
    padding-left: 35px;
    color: grey;
}

.col-changesong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.slash-minutesong {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-play {
    font-size: 35px;
}

.icon-managesong {
    display: flex;
    gap: 30px;
    color: white;
    font-size: 20px;
    align-items: center;
}

.slash-song {
    border-bottom: 3px solid white;
    padding: 0px 200px;
    border-radius: 50px;
}

.col-volumesong {
    display: flex;
    gap: 20px;
    align-items: center;
}

.slash-volume {
    border-bottom: 3px solid white;
    padding: 0px 50px;
}

@media screen and (max-width: 550px) {
    
    .sidebar {
        flex-basis: 50px;
    }

}

@media screen and (max-width:900px) {
    .row-played{
        width: 100%;
    }
}


/* end Row Played */