@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;400;600;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html  {
    font-family: 'Chivo Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: rgb(20,25,34);
    --grey: rgb(40,40,40);
    --blacklight: rgb(8,11,18);
    --green: rgb(173,255,47);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.logo-mobile {
   display: none;
}

/****************
      MAIN
*****************/

/* Strart sidebar */

.logo {
    width: 130px;
}

.icon-menu {
    width: 20px;
}

.menu {
 padding: 15px 0;
}

.list-menu {
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 5px 0;
}

.playlist {
    padding-top: 15px;
}

.playlist h3 {
    padding-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.name-playlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-playlist i {
    font-size: 35px;
}

.color-menu,
.name-playlist {
    color: grey;
}

.name-playlist li:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.download {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid var(--grey);
    color: var(--grey);
}

.person {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    font-size: 18px;
    align-items: center;
    font-weight: 700;
    margin-bottom: -20px;
}

.icon-person {
    width: 35px;
    background-color: grey;
    border-radius: 20px;
    aspect-ratio: 1;
}



/* end sidebar */


/* Strart Row Played */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content{
    flex-grow: 1;
    background-color: var(--blue);
    display: flex;
    overflow: hidden;
}

.row-played {
    flex-shrink: 0;
    padding: 10px;
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    color: white;
    overflow: hidden;
}

.sidebar {
    background-color: black;
    flex-shrink: 0;
    overflow: hidden;
    flex-basis: 230px;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    font-weight: 600;
}



.col-namesong {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.img-song {
    width: 50px;
}

.name-song {
    font-size: 13px;
}

.name-song strong {
    font-size: 15px;
}

.name-song p {
    color: grey;
}

.icon-sinistersong {
    padding-left: 35px;
    color: grey;
}

.col-changesong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.slash-minutesong {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-play {
    font-size: 35px;
}

.icon-managesong {
    display: flex;
    gap: 30px;
    color: white;
    font-size: 20px;
    align-items: center;
}

.slash-song {
    border-bottom: 3px solid white;
    padding: 0px 200px;
    border-radius: 50px;
}

.col-volumesong {
    display: flex;
    gap: 20px;
    align-items: center;
}

.slash-volume {
    border-bottom: 3px solid white;
    padding: 0px 50px;
}


@media screen and (max-width:900px) {
    .row-played{
        width: 100vw;
    }
}

@media screen and (max-width:550px) {
    .sidebar {
        flex-basis: 50px;
        padding: 0;
    }
    
    .nav, 
    .profile {
        display: none;
    }

    .sidebar .logo {
        background-image: url("./img/favicon.ico");
    }
}

/* end Row Played */

/* Strart main-content */

.main-content {
    flex-grow: 1;
    overflow: auto;
    width: calc(100% - 230px);
}

.container-song,
.container-johndoe,
.container-popular-artist {
    padding: 30px;
    border: 1px solid red;
}

.row-upgrade {
    display: flex;
    justify-content: end;
    background-color: var(--blacklight);
    padding: 20px;
}

.row-upgrade a {
    border: 1px solid white;
    color: white;
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.list-nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    color: grey;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    padding-top: 20px;
}

.title-recently {
    padding: 45px 0 35px 20px;
    color: white;
}



/* end main-content */